<!DOCTYPE html>
<html>
<head>
  {% set title = '管理' %}{% include 'head.html' %}
</head>
<body>
{% include 'header.html' %}
  <div id="content">

<a name="job">
<h2>Job</h2>
<ul>
  <li><a href="/job/first/k/reg/admin/">/job/first/k/reg/admin/</a></li>
</ul>

<a name="status">
<h2>Status</h2>
{%- set cat = "" %}
<form action="./" method="post">
  <p>
    <input class="button" type="submit" name="update" value="Update">
    <input class="button" type="submit" name="clear" value="Clear">
    <input class="button" type="reset" value="Reset">
  </p>
{%- for stt in stts %}
  {%- if (stt[0][-1:] == 'k' or stt[0][-1:] == 'j') and cat != stt[0][-1:] %}
    {%- set cat = stt[0][-1:] %}
    {%- if cat %}<a name="status.{{cat}}"><h3>{{text[cat]}}</h3>{% endif %}
  {%- endif %}
  <div>
    <span class="param_name">{{stt[0]}}:</span>
    <input class="param_val" type="text" name="{{stt[0]}}" {% if stt[1] %}value="{{stt[1]}}"{% endif %}>
  </div>
{%- endfor %}
</form>

  </div>
  {% include 'footer.html' %}
</body>
</html>
