<!DOCTYPE html>
<html>
  {% set title = '著作権' %}{% include 'head.html' %}
<body>
{% include 'header.html' %}
  <div id="content">

<h2>データの著作権</h2>
<p>
  当サイトが加工して配布するデータの元になる日本郵便株式会社配布の郵便番号データについては
  <a href="http://www.post.japanpost.jp/zipcode/dl/readme.html" target="_blank">郵便番号データの説明</a>
  の「使用・再配布・移植・改良について」をご参照ください。
</p>
<p>
  当サイトが加工して配布するデータの扱いも、日本郵便株式会社配布の郵便番号データに準じます。
</p>

<h2>プログラムの著作権</h2>
<p>
  当サイトのプログラムのソース・コードは
  <a href="http://www.apache.org/licenses/LICENSE-2.0.html" target="_blank">Apache License Version 2.0</a>
  により配布します。
</p>

<h2>当サイトで利用する著作物</h2>
<p>
  Feed Icon <img src="/static/feed-icon-14x14.png" alt="Feed Icon" style="height: 14px; width: 14px;"> は、
  Mozilla Foundation の
  <a href="http://www.mozilla.org/foundation/feed-icon-guidelines/" target="_blank">ガイドライン</a>
  に準じて使用しています。
</p>

<p>
  "Minicons Free Vector Icons Pack" は
  <a href="http://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">Creative Commons Attribution 3.0 Unported License</a>
  により配布されています。詳細については <a href="http://www.webalys.com/minicons" target="_blank">Minicons</a>
  をご参照ください。
</p>

  </div>
{% include 'footer.html' %}
</body>
</html>
