<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>
{% include 'header.html' %}
  <div id="content">

<p class="attention">現在当サイトは、データの正確さ等について検証中作業です。</p>
<p><a href="/feed.rss" class="rss"><img src="/static/feed-icon-14x14.png"> RSS</a></p>
{%- for cat in text['cat'] %}
<h2>{{text[cat]}}</h2>
<dl>
  <dt>配布元</dt>
  <dd>
    <div class="url"><a href="{{stts['url_pg_' + cat]}}">{{stts['url_pg_' + cat]}}</a></div>
    <div class="url"><a href="{{stts['url_ar_' + cat]}}">{{stts['url_ar_' + cat]}}</a></div>
  </dd>
</dl>
{%- if stts['ts_ar_' + cat] %}
{%- set ts_cat = stts['ts_ar_' + cat][:10]|replace('-', '') %}
<p>配布元生成日時:<span class="ts">{{stts['ts_ar_' + cat]}}</span></p>
<p>生成物更新日時:<span class="ts">{{stts['upd_' + cat]}}</span></p>
{%- endif %}

{%- for task in text['task'] %}

{%- if stts['dig_' + task + '_' + cat] %}
<h3> {{text[task]}} <a class="note-link" href="/notice.html#{{task}}"><img src="/static/pencil.png" alt="鉛筆マーク"> 説明..</a></h3>
<p>
  <a href="/download/{{task}}_{{cat}}-{{ts_cat}}.zip">{{task}}_{{cat}}-{{ts_cat}}.zip</a>
  <span class="size">{{stts['csz_' + task + '_' + cat]}}</span>byte
</p>
<p>SHA1:<span class="digest">{{stts['dig_' + task + '_' + cat]}}</span></p>
<p>
  <span class="size">{{stts['cnt_' + task + '_' + cat]}}</span>ファイル
  計<span class="size">{{stts['dsz_' + task + '_' + cat]}}</span>byte
</p>
{%- endif %}

{%- endfor %}

{%- endfor %}

  </div>
{% include 'footer.html' %}
</body>
</html>
